This is my notebook for Checkpoint 4 of my final project.

In [89]:
# First, I need to import some libraries and make a dataframe.

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sephora_df = pd.read_csv("sephora_cleaned_dataset.csv")

print(sephora_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5534 entries, 0 to 5533
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5534 non-null   int64
 1   id                  5534 non-null   int64
 2   brand               5534 non-null   object
 3   category            5534 non-null   object
 4   name                5534 non-null   object
 5   size                5534 non-null   object
 6   rating              5534 non-null   float64
 7   number_of_reviews   5534 non-null   int64
 8   love                5534 non-null   int64
 9   price               5534 non-null   float64
 10  value_price         5534 non-null   float64
 11  options             5534 non-null   object
 12  online_only         5534 non-null   int64
 13  exclusive           5534 non-null   int64
 14  limited_edition     5534 non-null   int64
 15  limited_time_offer  5534 non-null   int64
dtypes: float64(3), int64(8), object(5)
memory usage: 691.9+ KB
None

In [90]:
# I want a separate column to see the percentage discount that value items have.

sephora_df["discount"] = (sephora_df['value_price'] - sephora_df['price'])/sephora_df['value_price'] * 100
print(sephora_df['discount'].value_counts())

0.000000     5514
36.363636       2
30.588235       2
16.666667       2
26.666667       1
27.710843       1
33.333333       1
42.000000       1
27.215190       1
31.395349       1
30.000000       1
11.111111       1
5.555556        1
24.342105       1
28.571429       1
18.750000       1
21.518987       1
18.803419       1
Name: discount, dtype: int64

In [91]:
# I want to do some visualizations with size, but size is currently stored as a string so I need to make corresponding numeric columns.

sephora_df2 = sephora_df
grams = []
mililiters = []
mLprice = []
gprice = []

for index, row in sephora_df.iterrows():
    result_row = row['size'].lower()
    result_row = result_row.replace(' ', '')
    # print(result_row)
    if 'ml' in result_row:
        grams.append(0.0)
        gprice.append(0.0)
        result_list = result_row.split('/')
        # print(result_list)
        if len(result_list) == 2:
            result_list2 = result_list[1].split('m')
            # print(result_list2)
            if result_list2[0].replace('.', '', 1).isdigit():
                mililiters.append(float(result_list2[0]))
                mLprice.append(row['price']/float(result_list2[0]))
                # print(result_row, 0, float(result_list2[0]))
            elif result_list2[0].isdigit():
                mililiters.append(float(result_list2[0]))
                mLprice.append(row['price']/float(result_list2[0]))
                # print(result_row, 0, result_list2)
            else:
                mililiters.append(0.0)
                mLprice.append(0.0)
                # print(result_row, 'STOP')
        else:
            mililiters.append(0.0)
            mLprice.append(0.0)
    elif 'g' in result_row:
        mililiters.append(0.0)
        mLprice.append(0.0)
        result_list = result_row.split('/')
        if len(result_list) == 2:
            result_list2 = result_list[1].split('g')
            if result_list2[0].replace('.', '', 1).isdigit():
                grams.append(float(result_list2[0]))
                gprice.append(row['price']/float(result_list2[0]))
                # print(result_row, 0, float(result_list2[0]))
            elif result_list2[0].isdigit():
                grams.append(float(result_list2[0]))
                gprice.append(row['price']/float(result_list2[0]))
                # print(result_row, 0, result_list2)
            else:
                grams.append(0.0)
                gprice.append(0.0)
        else:
            grams.append(0.0)
            gprice.append(0.0)
    else:
        grams.append(0.0)
        mililiters.append(0.0)
        gprice.append(0.0)
        mLprice.append(0.0)

sephora_df2['g'] = grams
sephora_df2['mL'] = mililiters
sephora_df2['dollarpermL'] = mLprice
sephora_df2['dollarperg'] = gprice

print(sephora_df2.info())

index_names = sephora_df2[(sephora_df2['g'] == 0.0) & (sephora_df2['mL'] == 0.0)].index
sephora_df2.drop(index_names, inplace = True)

print(sephora_df2.info())
sephora_df2.to_csv('sephora-dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5534 entries, 0 to 5533
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5534 non-null   int64
 1   id                  5534 non-null   int64
 2   brand               5534 non-null   object
 3   category            5534 non-null   object
 4   name                5534 non-null   object
 5   size                5534 non-null   object
 6   rating              5534 non-null   float64
 7   number_of_reviews   5534 non-null   int64
 8   love                5534 non-null   int64
 9   price               5534 non-null   float64
 10  value_price         5534 non-null   float64
 11  options             5534 non-null   object
 12  online_only         5534 non-null   int64
 13  exclusive           5534 non-null   int64
 14  limited_edition     5534 non-null   int64
 15  limited_time_offer  5534 non-null   int64
 16  discount            5534 non-null   float64
 17  g                   5534 non-null   float64
 18  mL                  5534 non-null   float64
 19  dollarpermL         5534 non-null   float64
 20  dollarperg          5534 non-null   float64
dtypes: float64(8), int64(8), object(5)
memory usage: 908.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5039 entries, 0 to 5533
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5039 non-null   int64
 1   id                  5039 non-null   int64
 2   brand               5039 non-null   object
 3   category            5039 non-null   object
 4   name                5039 non-null   object
 5   size                5039 non-null   object
 6   rating              5039 non-null   float64
 7   number_of_reviews   5039 non-null   int64
 8   love                5039 non-null   int64
 9   price               5039 non-null   float64
 10  value_price         5039 non-null   float64
 11  options             5039 non-null   object
 12  online_only         5039 non-null   int64
 13  exclusive           5039 non-null   int64
 14  limited_edition     5039 non-null   int64
 15  limited_time_offer  5039 non-null   int64
 16  discount            5039 non-null   float64
 17  g                   5039 non-null   float64
 18  mL                  5039 non-null   float64
 19  dollarpermL         5039 non-null   float64
 20  dollarperg          5039 non-null   float64
dtypes: float64(8), int64(8), object(5)
memory usage: 866.1+ KB
None